.content{
  padding: 10px;
  margin-top: 80px;
}

.signup {
  width:300px;
  height:320px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  border: 1px solid lightgray;
  box-shadow: 1px 2px lightgray;
  border-radius: 10px;
  padding: 15px;
}

.signin {
  width:300px;
  height:320px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  border: 1px solid lightgray;
  box-shadow: 1px 2px lightgray;
  border-radius: 10px;
  padding: 15px;
}

.title {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

#row {
 width: fit-content;
 margin-left: -110px;
}

#slide-panel {
  margin-top: 50px;
  max-width: 20%;
  padding: 2%;
}

#map {
  margin-top: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 18rem));
  gap: 2rem;
  justify-content: center;
  margin: 3%;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px gray;
  border-radius: radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  height: 100%;
}

  .card__image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }

  .card__title {
    padding: 1rem;
  }

  .card__length {
    padding: 0 1rem;
  }

  .card__elevation {
    padding: 0 1rem;
  }  

  .card__description {
    padding: 0 1rem;
  }

  .card__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid;
    background: #262626;
    color: #FBFBFB;
    border-radius: radius;
    width: 86%;
    transition: background 200ms ease-in, color 200ms ease-in;
  }

  .manage_card__btn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .delete_card__btn {
    padding: 2%;
    width: 92px;
    margin-bottom: 1%;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid;
    background: #262626;
    color: #FBFBFB;
    border-radius: radius;
    transition: background 200ms ease-in, color 200ms ease-in;
  }

  .edit_card__btn {
    padding: 2%;
    width: 92px;
    margin-bottom: 1%;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid;
    background: #262626;
    color: #FBFBFB;
    border-radius: radius;
    transition: background 200ms ease-in, color 200ms ease-in;
  }

  .view_card__btn {
    padding: 2%;
    width: 92px;
    margin-bottom: 1%;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid;
    background: #262626;
    color: #FBFBFB;
    border-radius: radius;
    transition: background 200ms ease-in, color 200ms ease-in;
  }

  .card:hover {
    transform: scale(1.02);
  }

  .card:hover .card__btn {
    background: #FBFBFB;
    color:#262626;
  }

  .card__btn a {
    text-decoration: none;
    color: #FBFBFB;
    }

  .card__btn a:hover {
    color: #262626;
    }

  .card__btn a:active {
    color: #262626;
    }


  #add-trail-title {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 4%;
  }

  #trail-vew-container {
    margin-top: 10%;
  } 

  #trail-view-image {
    width: 1000px;
  }

  #trail-view-title{
    font-size: 4em;
  }